
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.freepik.com/free-vector/flat-design-pet-shop-sale-banner-template_23-2150369068.jpg?w=2000&t=st=1729584553~exp=1729585153~hmac=c4a11263a802bc8426afc2248446e20eeb7cc6cdf78a9804668504256887c63b"
                    class="d-block w-100" alt="..." style="height: 650px;">
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/flat-design-pet-shop-facebook-template_23-2150369048.jpg?w=2000&t=st=1729584704~exp=1729585304~hmac=cc6452081376954ead714f3939f54e21c04248978839ff4c87b8f432ba74fc3d"
                    class="d-block w-100" alt="..." style="height: 650px;">
            </div>
            <div class="carousel-item">
                <img src="https://img.freepik.com/free-vector/flat-design-pet-shop-facebook-cover-template_23-2150369044.jpg?w=1800&t=st=1729584699~exp=1729585299~hmac=dcd58830e10e3fbc9c5a6f8a3cfd668eccfaa66738e9e9dd65a6a6e60415e7b6"
                    class="d-block w-100" alt="..." style="height: 650px;">
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

    