<footer class="bg-dark text-white pt-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase">Về PetShop</h5>
                <p>
                    PetShop chuyên cung cấp những sản phẩm và dịch vụ tốt nhất dành cho thú cưng của bạn.
                    Chúng tôi luôn hướng tới việc mang lại trải nghiệm chăm sóc hoàn hảo.
                </p>
            </div>

            <!-- Useful Links -->
            <div class="col-md-3 mb-4">
        <h5 class="text-uppercase">Liên kết hữu ích</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white" style="text-decoration: none;">Trang chủ</a></li>
          <li><a href="#" class="text-white" style="text-decoration: none;">Sản phẩm</a></li>
          <li><a href="#" class="text-white" style="text-decoration: none;">Dịch vụ</a></li>
          <li><a href="#" class="text-white" style="text-decoration: none;">Liên hệ</a></li>
        </ul>
      </div>

            <!-- Customer Support -->
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase">Chăm sóc khách hàng</h5>
                <p><i class="fas fa-envelope"></i> Email: vydev050204@gmai.com</p>
                <p><i class="fas fa-phone"></i> Điện thoại: 032-559-8374</p>
                <p><i class="fas fa-comments"></i> Chat: Zalo, Messenger</p>
            </div>

            <!-- Contact Info -->
            <div class="col-md-3 mb-4">
                <h5 class="text-uppercase">Liên hệ</h5>
                <p><i class="fas fa-map-marker-alt"></i> Địa chỉ: 1 Đường Xô Viết Nghệ Tĩnh, Thành phố Hồ Chí Minh</p>
                <a style="text-decoration: none;" href="https://www.facebook.com/profile.php?id=100073629273119" target="_blank">
                    <img src="" alt="Facebook" style="width: 40px;" />
                </a>
            </div>
        </div>

        <!-- Social Media Links -->
        <div class="row">
            <div class="col text-center">
                <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="text-center py-3 mt-4 border-top border-secondary">
            <p class="mb-0">&copy; 2024 PetShop | Designed by DavidTran</p>
        </div>
    </div>
</footer>